<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <b><%= 2+2 %></b><br />
    <b>Great work by EJS there Siraj....!</b>
  </body>
</html>
